//Nav styles
.top-nav{
    background: #1D1D1F !important;
}
.top-nav a{
  color: #ffffff;
}
//NavSearch styles
.nav-search{
background: #FFFFFF;
border: 1px solid #1D1D1F;
box-sizing: border-box;
border-radius: 4px;
}
.nav-search-container{
    background: #FFFFFF;
}
