
<section class="MainInfoContent">
    <div class="container MainInfoContainer">
        <div class="row">
            <div class="col-6 mt-2">
                <span class="padding24 property">Registrikood: <span class="value">No data</span></span>
                <span class="property">Õiguslik vorm: <span class="value">Osaühing</span></span>
                <span class="property">KMKR: <span class="value">EE101542988</span></span>
                <span class="property">Kapital: <span class="value">2 500.00 EUR</span></span>
                <span class="property">Registreeritud: <span class="value">16.03.2012 (9)</span></span>
                <span class="property">Aadress: <span class="value">Harju maakond, Tallinn, Lasnamäe,<br> Kivimurru tn
                        34, 11411</span></span>
                <span class="property">Ava aadress kaart: <span class="value"><a
                            href="https://www.google.com/maps/place/Kivimurru+34,+11411+Tallinn/@59.4264679,24.7817375,15z/data=!4m13!1m7!3m6!1s0x469294aa98d26e6d:0x6786800da3d5f8bc!2sKivimurru+34,+11411+Tallinn!3b1!8m2!3d59.4264679!4d24.7904922!3m4!1s0x469294aa98d26e6d:0x6786800da3d5f8bc!8m2!3d59.4264679!4d24.7904922">Ava
                            kaart</a></span></span>
            </div>
            <div class="col-6 mt-2">
                <span class="padding24 property">Käive: <span class="value">No data</span></span>
                <span class="property">Kasum: <span class="value">15% (+3% 2021)</span></span>
                <span class="property">Turuosa: <span class="value">1.2% (+0.05% Q3’21)</span></span>
                <span class="property">Keskmine palk: <span class="value">€1,500 (+15% Q3’21)</span></span>
                <span class="property">Keskmine tunni hind: <span class="value">€54 (+30%)</span></span>
                <span class="property">Riiklikud maksud:<span class="value">No data</span></span>
                <span class="property"> Tööjõumaksud: <span class="value">No data</span></span>
                <span class="property">Töötajad: <span class="value">No data</span></span>
            </div>
        </div>
    </div>
</section>